/* main page CSS*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white    ;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

.topnav {
    overflow: hidden;
    background-color: #FFB563;
    filter: drop-shadow(0px 1.5px 2px #000000c5);
  }

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav a.blog {
    float: right;
    margin-left: 20px;
    color: black;
}

.topnav a.blog:hover{
    color: #08415C;
}

a.blog
{
    position: relative;
}

a.blog:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.blog:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.button {
    float: right;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #08415C; /* Green */
    color: white;
    font-weight: bolder;
  }
  
.button1 {
    border-radius: 20px; 
    color: white; 
    font-weight: bold;
    background-color: #0000004f; 
    border: 0.5px solid #FFE9CE;
    box-shadow: 0px 10px 15px rgba(199, 75, 75, 0.1);
}
.button2 {
    border-radius: 50px; 
    color: white;
    background-color: #0000004f;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(199, 75, 75, 0.1);
}

#primary {
    overflow: hidden;
    height: auto;
    background-color: #FFE9CE;
}
/*
.circular--portrait { 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
    left: 580px;
    top: 150px;
} 

.circular--portrait img { 
    width: 100%; 
    height: 100%; 
}*/

.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 260px; 
    height: 260px; 
    overflow: hidden; 
    border-radius: 50%; 
    left: 540px;
    top: 120px;
} 
.circular--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -45px;
    
}


.name{
    font-family: 'ABeeZee', sans-serif;
    font-size: 23px;
    text-align: center;
    padding-top: 8%;
}

.career{
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 23px;
    
}
.quote{
    font-family: 'Aubrey', cursive;
    font-size: 23px;
    text-align: center;
}

.buttons {

    font-family: 'Abel', sans-serif;
    background-color: #ff990073; /* Green */
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 50px;
    cursor: pointer;
    border: 0.5px solid black;
    box-shadow: 1px 2.5px 0px rgba(0, 0, 0, 0.164);
    transition-duration: 0.4s;
    

}

.buttons:hover {
    background-color: #6B818C; /* Green */
    color: white;
    font-weight: bolder;
  }

.button11 {
    left: 250px;
    position: relative;
    margin-right: 250px;
    width: 150px;
}
.button22 {
    width: 150px;
    margin-right: 10px;
}
.button33 {
    width: 150px;
    margin-right: 10px;
}
.button44 {
    width: 150px;
}


/* Service Page Css*/

.service{
    position: relative;
    font-family: 'Abel';
    font-size: 50px;
    float: left;
    margin-left: 40px;
}

.vl {
    border-left: 215px solid #F7B045;
    height: 1px;
    position: absolute;
    left: 3.5%;
    margin-left: -3px;
    top: 115%;
}



.service-intro{
    font-family: 'Abel';
    font-family: 'Caudex', serif;
    font-size: 25px;
    position: absolute;
    padding-top: 140px;
    padding-left: 40px;
}

.analysis--landscape { 
    display: inline-block; 
    position: relative; 
    width: 160px; 
    height: 160px; 
    overflow: hidden; 
    left: -190px;
    top: 350px;
} 
.analysis--landscape img { 
    width: 100%; 
    height: auto; 
}

.analysis{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top: 160px;
    padding-left: 150px;
}

.about-analysis{
    position: relative;
    font-family: 'Roboto', sans-serif;
    opacity: 60%;
    padding-left: 150px;
    top: 150px;
}

.more-analysis{
    position: relative;
    padding-left: 150px;
    color: #214ADC;
    text-decoration: none;
    top: 135px;
}


.analytics--landscape { 
    display: inline-block; 
    position: relative; 
    width: 160px; 
    height: 160px; 
    overflow: hidden; 
    left: 0;
    top: 140px;
} 
.analytics--landscape img { 
    width: 100%; 
    height: auto; 
}

.analytics{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top: 20px;
    padding-left: 150px;
}

.about-analytics{
    position: relative;
    font-family: 'Roboto', sans-serif;
    opacity: 60%;
    padding-left: 150px;
    top: 10px;
}

.more-analytics{
    position: relative;
    padding-left: 150px;
    top: -5px;
    color: #214ADC;
    text-decoration: none;
}


.dashboard--landscape { 
    display: inline-block; 
    position: relative; 
    width: 160px; 
    height: 160px; 
    overflow: hidden; 
    left: 0px;
    top: 350px;
} 
.dashboard--landscape img { 
    width: 100%; 
    height: auto; 
}

.dashboard{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top: 160px;
    padding-left: 150px;
}

.about-dashboard{
    position: relative;
    font-family: 'Roboto', sans-serif;
    opacity: 60%;
    padding-left: 150px;
    top: 150px;
}

.more-dashboard{
    position: relative;
    padding-left: 150px;
    color: #214ADC;
    text-decoration: none;
    top: 135px;
}


.fullstack--landscape { 
    display: inline-block; 
    position: relative; 
    width: 160px; 
    height: 160px; 
    overflow: hidden; 
    left: 0;
    top: 180px;
} 
.fullstack--landscape img { 
    width: 100%; 
    height: auto; 
}

.fullstack{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top: 20px;
    padding-left: 150px;
}

.about-fullstack{
    position: relative;
    font-family: 'Roboto', sans-serif;
    opacity: 60%;
    padding-left: 150px;
    top: 10px;
}

.more-fullstack{
    position: relative;
    padding-left: 150px;
    top: -5px;
    color: #214ADC;
    text-decoration: none;
}

.data-dashboard{
    position: relative;
    float: right;
    right: 30%;

}

.data-fullstack{
    position: relative;
    float: right;
    right: 0%;
    bottom: -320px;
}

.all-services{
    margin: auto;
}


/*About Me Page CSS*/

#secondary {
    overflow: hidden;
    height: auto;
    background-color: #FFE9CE;
}


.me{
    color: #F85E00;
    position: relative;
    font-family: 'Abel';
    font-size: 50px;
    float: left;
    margin-left: 40px;
}

.my-story{
    font-family: 'Abel';
    font-size: 25px;
    position: relative;
    padding-top: 140px;
    padding-left: 40px;
}

.about--landscape { 
    display: inline-block; 
    position: relative; 
    width: 260px; 
    height: 260px; 
    overflow: hidden; 
    border-radius: 50%; 
    float: right;
    right: 10%;
    top: 150px;

} 
.about--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -45px;
    
}

.get{
    width: auto;
    height: 10%;
    background-color: #FFB563;
}

.line{
    font-family: 'Abel';
    font-size: 30px;
    text-align: center;
}

.reach {
    background-color: #FEFAE0; /* Green */
    border: none;
    font-family: 'Abel';
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 320px;
    margin-bottom: 10px;
    cursor: pointer;
}

.reach:hover {
    background-color: #4CAF50; /* Green */
    color: #FEFAE0;
  }

.out {
    width: 50%;
    border-radius: 20px;
    
}


/*Portfolio Page CSS*/
.projects{
    position: relative;
    font-family: 'Abel';
    font-size: 50px;
    float: left;
    margin-left: 40px;
}

.container {
    position: relative;
    width: 40%;
    left: 30%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .rwanda{
    color: white;
    text-decoration: none;
  }



  .container2 {
    position: relative;
    width: 40%;
    float: left;
  }
  
  .image2 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay2 {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container2:hover .overlay2 {
    opacity: 1;
  }
  
  .text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .cv{
    color: white;
    text-decoration: none;
  }



  .container3 {
    top: 20%;
    position: relative;
    width: 40%;
    float: right;
  }
  
  .image3 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay3 {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container3:hover .overlay3 {
    opacity: 1;
  }
  
  .text3 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .github{
    color: white;
    text-decoration: none;
  }

.proj{
    width: auto;
    height: 10%;
    position:relative;
    margin-top: 24%;
    padding-top:5%;
    background-color: #FFB563;
}


/*Get in Touch Page Css*/

#contact{
    overflow: hidden;
    height: auto;
    background-color: #FFE9CE;
}

.touch{
    color: #F85E00;
    position: relative;
    font-family: 'Abel';
    font-size: 50px;
    float: left;
    margin-left: 40px;
}

.my-name{
    position: absolute;
    font-family: 'Abel';
    font-weight: 100;
    font-size: 64px;
    left: 2.8%;
    padding-top: 7%;
    float: left;
}

.info{
    font-family: 'Abel';
    font-size: 25px;
    position: relative;
    padding-top: 16%;
    padding-left: 40px;
}

.social{
    width: auto;
    height: 10%;
    background-color: #FFB563;
}

.fa {
    position: relative;
    left: 15%;
    padding: 2%;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2% 5%;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
    background: black;
    color: white;
}

.cp-text{ color: rgba(0,0,0,.7); 
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    text-align: center;
}